<a href="https://colab.research.google.com/github/adamBabieradzki/CSC221_ababi004/blob/main/Assignment4UPDATED.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Example Set 1

In [6]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)
print(bicycles[0])
print(bicycles[1])
print(bicycles[3])
print(bicycles[-1])

['trek', 'cannondale', 'redline', 'specialized']
trek
cannondale
specialized
specialized

In [2]:
print(f'My first bicycles was a {bicycles[0]}.')

The bike is trek.

#Exercise Set 1

In [8]:
#3-1
friends = ['john','jill','bill','bohn']
print(friends[0])
print(friends[1])
print(friends[2])
print(friends[3])

#3-2
print(f'Hello {friends[0]} good to see you.')
print(f'Hello {friends[1]} good to see you.')
print(f'Hello {friends[2]} good to see you.')
print(f'Hello {friends[3]} good to see you.')

john
jill
bill
bohn
Hello john good to see you.
Hello jill good to see you.
Hello bill good to see you.
Hello bohn good to see you.

In [9]:
transport = ["car","bike","train"]
print(f"I'm used to using a {transport[1]}.")
print(f"I'm not the best at driving a {transport[0]}.")
print(f"I would love if I could take a {transport[2]}.")

I'm used to using a bike.
I'm not the best at driving a car.
I would love if I could take a train

#Example Set 2

In [ ]:
motor = ['honda', 'yamaha', 'suzuki']
motor.append("ducati")
print(motor)

['honda', 'yamaha', 'suzuki', 'Ducati']

In [17]:
motor = []

motor.append("honda")
motor.append("yamaha")
motor.append("suzuki")

print(motor)

motor.insert(0,"ducati")
print(motor)

del motor[0]
print(motor)

del motor[1]
print(motor)

['honda', 'yamaha', 'suzuki']
['ducati', 'honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki']
['honda', 'suzuki']

In [27]:
motor = ['honda', 'yamaha', 'suzuki']

popped_motor = motor.pop(0)
print(f'The first motorcycle I ever owned was a {popped_motor.title()}')

The first motorcycle I ever owned was a Honda

In [30]:
motor = ['honda', 'yamaha', 'suzuki','ducati']
print(motor)

motor.remove('ducati')
print(motor)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

In [32]:
motor = ['honda', 'yamaha', 'suzuki','ducati']
print(motor)

too_expensive = 'ducati'
motor.remove(too_expensive)
print(motor)
print(f'\nA {too_expensive.title()} is too expensive for me.')

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

#Exercise Set 2

In [37]:
#3-4,5,6,7
guest_list = ["John","Bill","Samantha","Janice"]

for i in guest_list:
  print(f'Dear {i},\n\tYou are invited to the dinner gala')

guest_list.remove('Samantha')
guest_list.append('Sam')

for i in guest_list:
  print(f'Dear {i},\n\tYou are invited to the dinner gala')

print('We have reserved a larger table!')

guest_list.insert(0,'Jimothy')
guest_list.insert(3,'Jill')
guest_list.append('Jam')

for i in guest_list:
  print(f'Dear {i},\n\tYou are invited to the dinner gala')

print("I'm sorry the table blew up, we can only bring 2 people")

while len(guest_list) > 2:
  guest = guest_list.pop()
  print(f"I'm sorry {guest} we will no longer be able to invite you. :(")
print(guest_list)

Dear John,
	You are invited to the dinner gala
Dear Bill,
	You are invited to the dinner gala
Dear Samantha,
	You are invited to the dinner gala
Dear Janice,
	You are invited to the dinner gala
Dear John,
	You are invited to the dinner gala
Dear Bill,
	You are invited to the dinner gala
Dear Janice,
	You are invited to the dinner gala
Dear Sam,
	You are invited to the dinner gala
We have reserved a larger table!
Dear Jimothy,
	You are invited to the dinner gala
Dear John,
	You are invited to the dinner gala
Dear Bill,
	You are invited to the dinner gala
Dear Jill,
	You are invited to the dinner gala
Dear Janice,
	You are invited to the dinner gala
Dear Sam,
	You are invited to the dinner gala
Dear Jam,
	You are invited to the dinner gala
I'm sorry the table blew up, we can only bring 2 people
I'm sorry Jam we will no longer be able to invite you. :(
I'm sorry Sam we will no longer be able to invite you. :(
I'm sorry Janice we will no longer be able to invite you. :(
I'm sorry Jill we will no longer be able to invite you. :(
I'm sorry Bill we will no longer be able to invite you. :(
['Jimothy', 'John']

#Example Set 3

In [40]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)
cars.sort(reverse=True)
print(cars)

['audi', 'bmw', 'subaru', 'toyota']
['toyota', 'subaru', 'bmw', 'audi']

In [42]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print("OG List:")
print(cars)

print('Sorted List:')
print(sorted(cars))

print("OG List Again:")
print(cars)

OG List:
['bmw', 'audi', 'toyota', 'subaru']
Sorted List:
['audi', 'bmw', 'subaru', 'toyota']
OG List Again:
['bmw', 'audi', 'toyota', 'subaru']

In [43]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.reverse()
print(cars)
print(len(cars))

['subaru', 'toyota', 'audi', 'bmw']
4

#Exercise Set 3

In [49]:
#3-8
locations = ['Siberia','Sentinel Islands','Tibet','North Korea']
print(locations)
print(sorted(locations))
print(locations)
locations.reverse()
print(locations)
locations.reverse()
print(locations)
locations.sort()
print(locations)
locations.sort(reverse=True)
print(locations)

['Siberia', 'Sentinel Islands', 'Tibet', 'North Korea']
['North Korea', 'Sentinel Islands', 'Siberia', 'Tibet']
['Siberia', 'Sentinel Islands', 'Tibet', 'North Korea']
['North Korea', 'Tibet', 'Sentinel Islands', 'Siberia']
['Siberia', 'Sentinel Islands', 'Tibet', 'North Korea']
['North Korea', 'Sentinel Islands', 'Siberia', 'Tibet']
['Tibet', 'Siberia', 'Sentinel Islands', 'North Korea']

In [50]:
guest_list = ["John","Bill","Samantha","Janice"]
print(f'There will be {len(guest_list)} people at dinner.')

There will be 4 people at dinner.

In [54]:
numbers = ['one','two','three','four','five']
print(numbers)
print(sorted(numbers))
print(sorted(numbers,reverse=True))
numbers.reverse()
print(numbers)

['one', 'two', 'three', 'four', 'five']
['five', 'four', 'one', 'three', 'two']
['two', 'three', 'one', 'four', 'five']
['five', 'four', 'three', 'two', 'one']

In [ ]:
numlis1 = [40,50,120,-8,6]
def function(num):
  return (7.4*num) + 51

for i in numlis1:
  print(function(i))

347.0
421.0
939.0
-8.200000000000003
95.4