<a href="https://colab.research.google.com/github/adamBabieradzki/CSC221_ababi004/blob/main/assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
pizza = ["pepperoni","supreme","hawaiian"]
#for i in pizza:
#  print(i)

friends_pizza = pizza
for i in friends_pizza:print(i)
pizza.append("meat lovers")
for i in pizza:print(i)

pepperoni
supreme
hawaiian
pepperoni
supreme
hawaiian
meat lovers

In [ ]:
for i in pizza:
  print(f'I like {i} pizza')
print("I don't like pizza that much :3")

In [ ]:
#4-2 is the same thign
for i in range(1,21):
  print(i)
#4-4 same thing, don't wanna have a ten mile outpu

In [ ]:
for i in range(1,20,2):print(i)
for i in range(3,33,3):print(i)

In [ ]:
for i in range(1,11):print(i**3)

In [12]:
print([x**3 for x in range(1,11)])

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [56]:
def special_factorial(x):
  product = 1
  lisx = [i for i in range(1,x+1)]
  for i in lisx:
    if i not in [4,13,22]: #this if statement is the only difference between factorial and special factorial, very happy this worked the way i thought it would
      product *= i
  return product


special_factorial(50)

26585745805693512275885146998308364374455980392448000000000000

In [ ]:
""